<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
  <meta charset="utf-8">
  <title>TEAMS</title>
  <!-- Bower Component Styles -->
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
  <!-- User Styles -->
  <link rel="stylesheet" href="styles/main.css" />

<body>

	<div class="row">
		 <div class="col-md-3">
		 	<h2>Stark Co</h2>
		 	<h4><span class="glyphicon glyphicon-certificate"></span>Catelyn Logged In</h4> 

		 	<h3>Teams

		 		<a href="" ng-controller="addTeamController" ng-click="open()" class="glyphicon glyphicon-plus-sign"></a>

		 	</h3>

		 	<h5>

		 		<a href="" ng-controller="teamDetailsController" ng-click="open()" class="glyphicon glyphicon-list"></a>

		 		Sales</h5> 


		 	<h5><span class="glyphicon glyphicon-list"></span>Fiance</h5>
		 	<h5><span class="glyphicon glyphicon-list"></span>Marketing</h5>
		 	<h5><span class="glyphicon glyphicon-list"></span>Dev Team</h5>
		 	<h5><span class="glyphicon glyphicon-list"></span>Management</h5>
		 	<h5><span class="glyphicon glyphicon-list"></span>Help</h5>
		 	<h5><span class="glyphicon glyphicon-list"></span>Lounge</h5>
		 	<h5><span class="glyphicon glyphicon-list"></span>Happy Hour</h5>
		 </div>
 		 <div class="col-md-9">Chat</div>
 	</div>


<!-- <ui-view> -->


  <!-- Bower Component Scripts -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="scripts.js"></script>

</body>
</html>
