.col-md-3 {
    /*border: 3px solid green;*/
    padding-left: 40px;
}

span.glyphicon.glyphicon-plus-sign {
    padding-left: 70px;
}

span.glyphicon.glyphicon-list {
    padding-right: 10px;
}

span.glyphicon.glyphicon-certificate {
    padding-right: 10px;
    color: green;
}

.col-md-9{
    border: 1px solid blue;
}