.col-md-3 {
    padding-left: 40px;
    height:100vh;
    background-color: black;
}

a.glyphicon.glyphicon-plus-sign {
    padding-left: 5px;
    font-size: 22px;
    color: #24A524;
}

a.glyphicon.glyphicon-plus-sign:hover{
color: green;
text-decoration: none;
}


a.glyphicon.glyphicon-list {
    padding-right: 5px;
    color: grey;
}

a.glyphicon.glyphicon-list:hover{
color:pink;
text-decoration: none;
}


span.glyphicon.glyphicon-certificate {
    padding-right: 10px;
    color: #24A524;
}

.ng-binding.ng-scope {
    font-family: visby;
    color: white;
}

.teamName {
    font-size: 20px;
}

h3{
padding-bottom: 5px;
font-family: visby;
font-size:26px;
color: white;
}

h2{
padding-bottom: 0px;
font-family: visby;
font-size:36px;
color: white;
}

h4{
padding-bottom: 40px;
font-family: visby;
font-size:16px;
color: white;
}


