/***

  Compile All SCSS Files to Serve

***/

@font-face {
  font-family: visby;
  src: url('font/VisbyCF-Bold.ttf');
}

@font-face {
  font-family: visby1;
  src: url('font/VisbyCF-DemiBoldOblique.ttf');
}

@font-face {
  font-family: visby2;
  src: url('font/VisbyCF-MediumOblique.ttf');
}

@import "chatRoom";

@import "sideBar";

@import "teamDetails";

@import "addUser";